li {
  list-style: none;
  max-width: 900px;
}

body {
  font-family: courier;
  max-width: 960px;
  margin: 0 auto;
}

body {
  background-image: url("https://images.unsplash.com/photo-1487180144351-b8472da7d491?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&s=0cf30377b382a28e59babe011fe6e79c");
  background-repeat: no-repeat;
  background-size: 100%;
}

a {
  color: #fff;
}

.gmail-login {
  border: 2px solid #f7f7f7;
  max-width: 250px;
  height: 250px;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto;
  padding-top: 40px;
  color: black;
  margin-top: 80px;
  background-color: rgba(242,242,242,0.5);
}

#signInButton {
  margin-top: 50px;
}

.list-background {
  border-radius: 5px;
  background-color: rgba(242,242,242,0.5);
  padding: 30px;
}
