{% extends "main.html" %}
{% block content %}
<h1 align="center">Edit artist</h1>
<div class = 'flash'>
	{% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
      {% for message in messages %}
          <li class="alert alert-success fade in"> <strong> {{ message }} </strong> </li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
</div>

<form class="form-horizontal" action="{{url_for('editArtist', genre_id = artist.genre_id, artist_id = artist.id)}}" method="POST" >
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Name of Artist: </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name" name="name" maxlength="100" placeholder="Name of artist" value="{{artist.name}}">
    </div>
  </div>
  <div class="form-group">
    <label for="description" class="col-sm-2 control-label">Description: </label>
    <div class="col-sm-10">
      <textarea class="form-control" id="description" name="description" placeholder="Description">{{artist.description}}</textarea>
    </div>
  </div>
  <div class="form-group">
    <label for="genre" class="col-sm-2 control-label">Genre: </label>
    <div class="col-sm-10">
      <select name="genre" id="genre" multiple class="form-control">
        {% for i in genre %}
					{% if i.id == artist.genre_id %}
						<option value="{{i.id}}" selected>{{ i.name }}</option>
					{% else %}
          	<option value="{{i.id}}">{{ i.name }}</option>
					{% endif %}
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</form>
{% endblock %}
