{% extends "main.html" %}
{% block content %}
<div class = 'flash'>
	{% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
      {% for message in messages %}
          <li> <strong> {{ message }} </strong> </li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
</div>
<div class="col-sm-6 col-sm-offset-2">
  <h1>Artist</h1>
  <p>{{artist.name}}</p>
  <p>{{artist.description}}</p>
	<p>{{artist.user.name}}</p>
  <p>{{genre.name}}</p>
  <a href="{{url_for('deleteArtist', genre_id = genre.id, artist_id = artist.id)}}"
     class="btn btn-danger">Delete</a>
  <a href="{{url_for('editArtist', genre_id = genre.id, artist_id = artist.id)}}"
     class="btn btn-warning">Edit</a>
</div>
<div class="col-sm-6">

</div>
{% endblock %}
