{% extends "main.html" %}
{% block content %}
<div class = 'flash'>
	{% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
      {% for message in messages %}
          <li> <strong> {{ message }} </strong> </li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
</div>
<div class="col-sm-6 col-sm-offset-2">
  <h1 align="center">{{artist.name}}</h1>
	<hr>
	<div class="well">
		<p>{{artist.description}}</p>
		{% if artist.user.name %}
			<p><small><i>Posted by: {{artist.user.name}}</i></small></p>
		{% endif %}
	  <small>Genre: <i>{{genre.name}}</i></small>
	</div>
  <a href="{{url_for('deleteArtist', genre_id = genre.id, artist_id = artist.id)}}"
     class="btn btn-danger btn-sm">Delete</a>
  <a href="{{url_for('editArtist', genre_id = genre.id, artist_id = artist.id)}}"
     class="btn btn-warning btn-sm">Edit</a>
</div>
<div class="col-sm-6">

</div>
{% endblock %}
